@import "ctp-mocha.css";

* {
  border: none;
  border-radius: 0;
  min-width: 27px;
  font-family: CaskaydiaCove NFP;
  font-size: 13px;
}


window#waybar {
  background: rgba(30, 30, 46, 0.7);
  background-color: transparent;
  border: 1px solid rgba(30, 30, 46, 0.1);
}

window#waybar > box {
  margin: 0px 0px 0px 8px;
  /* @base argb */
  background-color: rgba(30, 30, 46, 0.75);
  box-shadow: -4px 0px 2px 1px @mantle;
}

#workspaces {
  background-color: transparent;
}

#submap,
#mode,
#workspaces button {
  all: initial;
  min-width: 0;
  padding: 3px 3px;
  margin: 3px 3px;
  border-radius: 1px;
  background-color: @surface0;
  color: @text;
}

#submap,
#mode,
#workspaces button.active {
  color: @base;
  background-color: @lavender;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @base;
  background-color: @blue;
}

#workspaces button.urgent {
  background-color: @red;
}

#memory,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#mpris,
#custom-swaync,
.not-power,
#tray {
  font-size: 18;
  border-radius: 4px;
  margin: 6px 6px;
  padding: 6px 6px;
  background-color: transparent;
  color: @mantle;
}

#clock,
#mpris {
  font-size: 16;
}

#mpris {
  color: @overlay1;
}

#custom-power {
  margin-right: 6px;
}

.not-power,
#memory,
#battery,
#wireplumber,
#network,
#custom-swaync {
  color: @blue;
}

#custom-swaync.disabled {
  color: @red;
}

#battery.warning {
  color: @yellow;
}

#battery.critical,
#battery.urgent {
  color: @red;
}

#battery.charging {
  color: @teal;
}

#wireplumber {
  font-size: 16;
}

#clock {
  color: @mauve;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: @surface0;
}

tooltip label {
  padding: 5px;
  background-color: @surface0;
}
